a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f9d802;
}

.backgroundImage {
  background-image: url("../images/girlWithHeadphone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(158, 58, 0, 0.2);
  background-blend-mode: saturation;
}

.circle-indicator {
  position: unset;
  border-radius: 50%;
  height: 20px !important;
  width: 20px !important;
}

.carousel-indicators {
  position: absolute;
  left: 0;
  margin-left: 5% !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  transform: translate(0, 55vh);
  flex-direction: column;
  gap: 25px;
  width: fit-content;
}

.carousel-inner {
  position: absolute !important;
  top: 0;
  left: 0;
  transform: translate(20%, 25vh);
  width: 54%;
}

.carousel-container {
  position: relative !important;
}

.carousel-icon {
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6) !important;
  opacity: 1;
}

.carousel-icon:hover {
  background-color: #f9d802 !important;
}

.carousel-icon-group {
  height: 100px !important;
  width: 140px !important;
  display: flex !important;
  flex-direction: row !important;
  position: absolute !important;
  top: 0;
  left: 0;
  transform: translate(70vw, 40vh);
  z-index: 5;
}

.carousel-content-button {
  border: none;
  background-color: #f9d802 !important;
  width: fit-content;
  padding: 10px 34px;
}

.socialmedia-icon-group {
  position: absolute;
  right: 0px;
  transform: translate(-5vw, 30vh);
}
