* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.primary-color {
  color: #00928c;
}

.primary-background {
  background-color: #00928c;
}

.secondary-background {
  background-color: #eff9f8;
}

.box-shadow {
  box-shadow: 0px 15px 40px 0px rgba(180, 180, 180, 0.3);
}

/* navbar */
#navItem:first-child {
  color: #00928c;
}

.nav-button {
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
}

/* homepage */
.home-window-height {
  height: 90.5vh;
}

.search-group {
  border-radius: 40px;
  border: 1px solid rgba(185, 185, 185, 0.3);
  padding: 8px;
}

.search-input {
  border: none;
  padding: 0px 6px;
}

/* About page */

.circle-image {
  border-radius: 50%;
  border: 1px solid white;
  width: 65px;
  height: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image:nth-child(n + 2) {
  position: absolute;
}

/* TourPackage page */

.circle-arrow {
  color: #00928c;
}

.travel-card-radius {
  border-radius: 10px;
}

.travel-card-group {
  position: relative;
}

.travel-place{
  height: 200px;
  width: 310px;
  object-position: center;
}

.travel-details {
  padding: 20px 30px;
  width: 300px;
  margin-top: -45px;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.button-outline-primary {
  border: 1px solid #00928c;
  background: none;
  border-radius: 25px;
  padding: 3px 20px;
}

.star {
  color: #f4ac4c;
}


/* contact us */
.contact-icon {
  border: 1px solid #00928d2a;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.icon-margin {
  margin-top: -8px;
}

/* footer */
.subscribe-input {
  border: none;
}

.subscribe-input:focus {
  outline: none;
}

.subscribe-button {
  border-radius: 40px;
  border: none;
}

.subscribe-group {
  width: fit-content;
  padding: 15px 20px;
  border-radius: 50px;
}

.subscribe-container {
  border-radius: 20px;
  height: 45%;
}

.footer-container {
  height: 40%;
}

.footer-container > * a {
  text-decoration: none;
  color: #00928c;
}


.footer {
  overflow: hidden;
  padding: 10px;
  border-top: 1px solid black;
}
