.body {
  margin: 0;
  padding: 0;
}

.window-height {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.quarter-height {
  height: 80%;
}

.window-width {
  width: 100vw;
}

.full-width {
  width: 100%;
}